<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://brewer.algaworks.com">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item">
          			<a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Vendas</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas}">
			            	<a th:href="@{/vendas/nova}">Nova venda</a>
			            </li>
			        </ul>
			    </li>

        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-truck"></i><span>Estoque</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/estilos}">
			            	<a th:href="@{/estilos}">Estilos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cervejas}">
			            	<a th:href="@{/cervejas}">Cervejas</a>
			            </li>
          			</ul>
        		</li>

        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cidades}">
			            	<a th:href="@{/cidades}">Cidades</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/clientes}">
			            	<a th:href="@{/clientes}">Clientes</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/usuarios}">
			            	<a th:href="@{/usuarios}">Usuários</a>
			            </li>
          			</ul>
        		</li>

      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>