<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutSimples}">
	
<th:block layout:fragment="conteudo">
	
	<div class="aw-error-panel">
		<h1 class="aw-error-panel__code">
			<i class="fa  fa-lock"></i>
		</h1>
		
		<h2 class="aw-error-panel__title">Acesso negado</h2>
		
		<div class="aw-error-panel__description">
			Desculpe, você não está autorizado a acessar a página que solicitou.
			Se você acha que isso é um engano, entre em contato com a gente.
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
	</div>

</th:block>
</html>