<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de estilo</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de estilo
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form>
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus"/>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>

</html>
