/*
######################
# UTILIDADES
######################
*/
.bw-glyphicon-large {
	font-size: 18px;
}


/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}