<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">	

<div class="aw-error-panel">
	<h1 class="aw-error-panel__code">
		<i class="fa  fa-location-arrow"></i> 404
	</h1>
	
	<h2 class="aw-error-panel__title">Página não encontrada</h2>
	
	<div class="aw-error-panel__description">
		Desculpe, a página que você tentou acessar não foi encontrada ou não existe. 
		Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.
		<br/><br/>
		<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
	</div>
</div>
</html>