<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutSimples}">
	
<th:block layout:fragment="conteudo">
	<div class="aw-error-panel">
		<h1 class="aw-error-panel__code">
			<i class="fa  fa-exclamation-triangle"></i> 500
		</h1>
		
		<h2 class="aw-error-panel__title">Erro no servidor</h2>
		
		<div class="aw-error-panel__description">
			Desculpe, algo muito estranho aconteceu e não conseguimos processar a sua requisição. 
			Tente de novo ou entre em contato com a gente se precisar de ajuda.
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
	</div>

</th:block>
</html>