<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
	
<head>
	<title>Cadastro de cerveja</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de cerveja
			</h1>
		</div>
	</div>

	<div class="container-fluid">

		<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
		</div> -->

		<form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">
	
			<div class="row">
				<div class="col-sm-2  form-group">
					<label for="sku">SKU</label>
					<input id="sku" type="text" class="form-control"/>
				</div>
				
				<div class="col-sm-10  form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label for="descricao">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control"></textarea>
			</div>

			<div class="row">
				<div class="col-sm-3  form-group">
					<label for="estilo">Estilo</label>
					<div class="bw-field-action">
						<select id="estilo" class="form-control">
							<option value="">Selecione o estilo</option>
							<option value="1">Pale lager</option>
						</select>
						
						<div class="bw-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="sabor">Sabor</label>
					<select id="sabor" class="form-control">
						<option value="">Selecione o sabor</option>
						<option value="1">Adocicada</option>
					</select>
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="teorAlcoolico">Teor alcoólico</label>
					<div class="input-group">
						<input id="teorAlcoolico" type="text" class="form-control  js-decimal"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				
				<div class="col-lg-3  col-sm-6  form-group">
					<label for="origem">Origem</label>
					<div>
						<div class="radio  radio-inline">
							<input type="radio" name="origem"> 
							<label>Nacional</label>
						</div>
						<div class="radio  radio-inline">
							<input type="radio" name="origem"> 
							<label>Internacional</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3  form-group">
					<label for="preco">Preço</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="preco" type="text" class="form-control  js-decimal"/>
					</div>
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="comissao">Comissão</label>
					<div class="input-group">
						<input id="comissao" type="text" class="form-control  js-decimal"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="estoque">Estoque</label>
					<input id="estoque" type="text" class="form-control  js-plain"/>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
	<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
</section>
	
</body>
</html>